h1{
    background: salmon;
   display: inline-block; 
}
a{
    background: salmon;
 /*   display: block; */
}


.menu{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
}



/* para que funcione align self debe estar en  */
.item{
     

    align-self:flex-start;
}